<div class="add_form">
    <div class="form_head">
        <div class="form_title">
            Add Board
        </div>
        <div class="cancel_tn">
            <mat-icon mat-dialog-close>cancel</mat-icon>
        </div>
    </div>

    <div class="form_area">
        <form [formGroup]="boardForm">

            <mat-form-field appearance="fill">
                <mat-label>Board Name</mat-label>
                <input matInput placeholder="Enter Board Name" formControlName="board_name">
            </mat-form-field>

            <input type="number" [ngModel]="admin" formControlName="admin_id_fk" readonly hidden>
            <!-- <input type="number" formControlName="board_id" readonly hidden> -->
        </form>
        <button mat-raised-button color="primary" class="submit_btn" (click)="add_board()">Submit</button>
        <button mat-raised-button color="warn" class="reset_btn" (click)="reset()">Reset</button>
    </div>
</div>