<div class="add_form">
    <div class="form_head">
      <div class="form_title">
        Add Government Question
      </div>
      <div class="cancel_tn">
        <mat-icon mat-dialog-close>cancel</mat-icon>
      </div>
    </div>
  
    <div class="form_area">
      <form [formGroup]="govQuesForm">
  
        <mat-form-field style="margin-top: 10%;">
          <mat-label>Select Government Exam</mat-label>
          <mat-select disableRipple formControlName="gov_id_fk">
            <mat-option *ngFor="let governmentQuestion of QuestionData" [value]="governmentQuestion.gov_id">
              {{governmentQuestion.gov_exam_name}}
            </mat-option>
            <!-- <mat-option value="two">BPSC</mat-option> -->
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Government Question Name</mat-label>
          <input matInput placeholder="Enter Question Name" formControlName="g_prev_ques_name">
        </mat-form-field>
  
        <input type="file" id="pdf_files" (change)="onFileChanged($event)" formControlName="g_prev_ques_file">
  
        <input type="number" [ngModel]="admin" formControlName="admin_id_fk" hidden>
        <input type="number" formControlName="g_previous_id" hidden>
  
      </form>
  
      <button mat-raised-button color="primary" class="submit_btn" (click)="add_btn()">Submit</button>
      <button mat-raised-button color="warn" class="reset_btn">Reset</button>
    </div>
  </div>