<div class="sidebar_area">
    <div class="logo">
        Admin Panel
    </div>
    <div class="menu_area">
        <button [routerLink]="['dashboard']">
            <mat-icon>dashboard</mat-icon>&nbsp;Dashboard
        </button>

        <button [routerLink]="['university']">
            <mat-icon>business</mat-icon>&nbsp;Manage University
        </button>

        <button [routerLink]="['university_course']">
            <mat-icon>school</mat-icon>&nbsp;Manage University Course
        </button>

        <button [routerLink]="['university_semester']">
            <mat-icon> list_alt</mat-icon>&nbsp;Manage Semester
        </button>

        <button [routerLink]="['university_question']">
            <mat-icon> local_library</mat-icon>&nbsp;Manage University Question
        </button>

        <button [routerLink]="['government_exam']">
            <mat-icon>school</mat-icon>&nbsp;Manage Gov. Exam
        </button>

        <button [routerLink]="['government_question']">
            <mat-icon> local_library</mat-icon>&nbsp;Manage Gov. Question
        </button>

        <button [routerLink]="['board_exam']">
            <mat-icon>location_city</mat-icon>&nbsp;Manage Board
        </button>

        <button [routerLink]="['board_class']">
            <mat-icon>school</mat-icon>&nbsp;Manage Board Class
        </button>

        <button [routerLink]="['board_question']">
            <mat-icon> local_library</mat-icon>&nbsp;Manage Board Question
        </button>

        <button [routerLink]="['entrance_exam']">
            <mat-icon>school</mat-icon>&nbsp;Manage Entrance
        </button>

        <button [routerLink]="['entrance_question']">
            <mat-icon> local_library</mat-icon>&nbsp;Manage Entrance Question
        </button>

        <button [routerLink]="['enquiry_details']">
            <mat-icon> local_library</mat-icon>&nbsp;Enquiry  Details
        </button>
    </div>
</div>