<div class="box" [routerLink]="['/home/university']">
    <p>{{totalUniversity}}</p>
    <br>
    <span>University</span>
    <mat-icon> business</mat-icon>
</div>

<div class="box" [routerLink]="['/home/university_course']">
    <p>{{totalUniversityCourse}}</p>
    <br>
    <span>University Course</span>
    <mat-icon>school</mat-icon>
</div>

<div class="box" [routerLink]="['/home/university_semester']">
    <p>{{totalUniversitySemester}}</p>
    <br>
    <span>University Semester</span>
    <mat-icon> list_alt</mat-icon>
</div>

<div class="box" [routerLink]="['/home/university_question']">
    <p>{{totalUniversityQuestion}}</p>
    <br>
    <span>University Question</span>
    <mat-icon> local_library</mat-icon>
</div>

<div class="box" [routerLink]="['/home/government_exam']">
    <p>{{totalGovernmentExam}}</p>
    <br>
    <span>Government Exam</span>
    <mat-icon>school</mat-icon>
</div>

<div class="box" [routerLink]="['/home/government_question']">
    <p>{{totalGovernmentQuestion}}</p>
    <br>
    <span>Government Question</span>
    <mat-icon> local_library</mat-icon>
</div>

<div class="box" [routerLink]="['/home/board_exam']">
    <p>{{totalBoardExam}}</p>
    <br>
    <span>Board Exam</span>
    <mat-icon>location_city</mat-icon>
</div>

<div class="box" [routerLink]="['/home/board_class']">
    <p>{{totalBoardClass}}</p>
    <br>
    <span>Board Class</span>
    <mat-icon>school</mat-icon>
</div>

<div class="box" [routerLink]="['/home/board_question']">
    <p>{{totalBoardQuestion}}</p>
    <br>
    <span>Board Question</span>
    <mat-icon> local_library</mat-icon>
</div>

<div class="box" [routerLink]="['/home/entrance_exam']">
    <p>{{totalEntranceExam}}</p>
    <br>
    <span>Entrance Exam</span>
    <mat-icon>school</mat-icon>
</div>
<div class="box" [routerLink]="['/home/entrance_question']">
    <p>{{totalEntranceQuestion}}</p>
    <br>
    <span>Entrance Question</span>
    <mat-icon> local_library</mat-icon>
</div>